{% extends "blog/base.html" %}

{% block content %}
{% load static %}
{% load thumbnail %}

<div class="container box">
  <div class="row">
    <div class="col-lg-12">
      <hr>
      <h2 class="intro-text text-center">
        <strong>{{ post.name }}</strong>
      </h2>
      {% if user == post.user %}
      <ul class="list-inline">
        <li>
        <form action="{% url 'blog:delete-post' post.pk %}"  method="post">{% csrf_token %}
          <input type="submit" class="btn btn-primary" value="Delete" />
        </form>
        </li>
        <li>
        <a href="{% url 'blog:edit-post' post.pk %}" class="btn btn-primary">Edit</a>
        </li>
      {% endif %}
      <hr>
    </div>
    <div class="col-md-12">
      <img class="img-responsive blog-image" src="{{ post.image.large.url }}" alt="{{ post.image.name }}">
    </div>
    <div class="col-md-12">
      <div class="post"> 
        {{ post.body|safe }} 
      </div>
    </div>
    <div class="col-md-12">

     <ul class="list-inline">
       <li><form action="" method="post" name="like-form" id="like-form">{% csrf_token %}
         <button type="submit" name='like' class="btn btn-primary" value="Like" />          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 
         </button>
       </form></li>
       <li><form action="" method="post" name="delete-like-form" id="delete-like-form">{% csrf_token %}
         <button type="submit" name='delete-like' class="btn btn-primary" value="Like" />          <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 
         </button>
       </form></li>


       <li>{{post.like_set.all.count}}</li>
     </ul>
    </div>
    <hr>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h3>Comments</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">

      <div class="endless_page_template">

        {% include "blog/comment_list.html" %}

        {% block js %}
        {{ block.super }}
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
        <script>$.endlessPaginate({paginateOnScroll: false});</script>
        {% endblock %}
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h4> Add a new comment </h4>
      {% include 'blog/create-form.html' %}
    </div>
    <hr>
  </div>

</div>
<!-- /.container -->

{% endblock %}
