{% load el_pagination_tags %}
{% load static %}
{% load thumbnail %}

{% paginate posts %}

{% for post in posts%}

<div class="col-lg-12 blog-post">
  <img class="img-responsive blog-image" src="{{ post.image.large.url }}" alt="{{ post.image.name }}">
  <h2 class="text-center">{{ post.name }}</h2>
  <ul class="list-inline text-right">
    <li><p>{{ post.pub_date }} by {{post.user.email}}</p></li>
    <li><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{post.like_set.all.count}}</li>
    </ul>
  <div class="dot-post dot-ellipsis dot-height-90 text-left">{{ post.body|safe }}</div>
  <div class="text-center">
  <a href="{% url 'blog:post-page' post.pk %}" class="btn btn-default btn-lg btn-responsive">Read More</a>
</div>
  <hr>
</div>
{% endfor %}


<div class="pagination">
  {% show_more%}
</div>

