{% extends "blog/base.html" %}

{% block content %}
<div class="wrapper">
  <div class="container box">
    <div class ="row">
      <div class="col-lg-3 col-md-3 col-sm-3 text-left">
        <div class="row">
          <div class="col-lg-12">
            <h3> User Info </h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-12">
            {% if user.user_profile.avatar%}
            <img src = "{{user.user_profile.avatar.thumb.url}}" class="img-responsive" alt="{{user.user_profile.avatar.name}}"/>
            {% endif %}
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="list-unstyled profile">
              <li><i class="fa fa-envelope" aria-hidden="true"></i> 
              {{user.email}}</li>
              <li>
              {% if user.first_name %}
              <i class="fa fa-user" aria-hidden="true"></i> 
              {{user.first_name}} 
              {% endif %}
              {% if user.last_name %}
              {{user.last_name}}
              {% endif %}
              </li>
              <li>
              {% if user.user_profile.city%}
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              {{user.user_profile.city}}, 
              {% endif %}
              {% if user.user_profile.country%}
              {{user.user_profile.country}}
              {% endif %}
              </li>
              <li>            
              {% if user.user_profile.birthday%}
              <i class="fa fa-birthday-cake" aria-hidden="true"></i>
              {{user.user_profile.birthday}} 
              {% endif %}
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 text-left">
        <div class="row custom-page-header">
          <div class="col-md-12">
            <h3 class="site-name">Dashboard</h3>
          </div>
        </div>
        <hr class="hrr">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 site-preview">
            <div class="projects preview-box">
              <a href="{% url 'blog:create-post' %}">
                <ul class="list-unstyled text-center">
                  <li>
                  <i class="fa fa-plus-square-o fa-5x" aria-hidden="true"></i></li>
                  <li> Create new post</li>
                </ul>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 site-preview">
            <div class="projects preview-box">
              <a href="{% url 'blog:update-profile' user.pk %}">
                <ul class="list-unstyled text-center">
                  <li><i class="fa fa-user fa-5x" aria-hidden="true"></i></li>
                  <li>Update Profile Info </li>
                </u>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 site-preview">
            <div class="projects preview-box">
              <a href="{% url 'account_email' %}#">
                <ul class="list-unstyled text-center">
                  <li><i class="fa fa-envelope fa-5x" aria-hidden="true"></i></li>
                  <li>Update Email</li>
                </u>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 site-preview">
            <div class="projects preview-box">

              <a href="{% url 'account_change_password' %}">
                <ul class="list-unstyled text-center">
                  <li><i class="fa fa-lock fa-5x" aria-hidden="true"></i></li>
                  <li>Change Passwor</li>
                </u>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  {% endblock %}
